<div class="d-flex flex-column justify-content-center p-4">
<h1 class="h1 heading  align-self-center"><%=@recipe.name%></h1>
<div  class="d-flex justify-content-between" >
<p>Preparation time: <%=@recipe.preparationTime%> hours</p>

<%= form_with(model: @recipes, local: true) do |form| %>

    <%= form.check_box :public, class: "custom-control-input", id: "customSwitch1"   %>
  <label class="custom-control-label" for="customSwitch1">Public: </label>
 
 <div class="actions">
     <%= form.submit "Public" %>
 </div>
<% end %>
</div>

<p>Cooking time: <%=@recipe.cookingTime%> hours</p>
<p>Steps: <br><%=@recipe.description%></p>
<div class="d-flex justify-content-between" >
<%=link_to "Generate shopping list", recipes_detail_path(@recipe.id)%>
<%=link_to "Add Ingredients", recipes_detail_path(@recipe.id)%>
</div>
<hr>
</div>