<div class = "text-center" >
<h1> Food List</h1>
<button class = "btn btn-primary">
<%= link_to "Add Food", new_user_food_path %>
<table>
<thead>
  <tr>
            <th>Food</th>
            <th>Measurement Unit</th>
            <th>Unit Price</th>
            <th>Actions</th>
          </tr>
</thead>
<% if @user.foods.empty? %>
          <tbody>
            <tr class="border-b border-gray-300">
              <td colspan="4" class="px-6 py-4 whitespace-no-wrap text-red-600  hover:text-red-700">Please Add some data to the table!!!</td>
            </tr>
          </tbody>
        <% else %>
          <tbody class=" text-gray-900 dark:text-white text-sm font-light">
            <% @user.foods.each do |food| %>
              <tr class="border-b border-gray-300 hover:bg-gray-200 dark:hover:bg-black dark:hover:shadow-custom">
                <td class="px-6 py-4 whitespace-no-wrap"><%= food.name %></td>
                <td class="px-6 py-4 whitespace-no-wrap"><%= food.measurement_unit %></td>
                <td class="px-6 py-4 whitespace-no-wrap"><%= "$ #{food.price}" %></td>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <%= button_to user_food_path(@user, food), method: :delete, class: "inline-flex items-center justify-center px-2 py-1 border border-transparent text-xs font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500" do %>
                    <%#= render partial: "/components/delete_svg" %>
                    Delete
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
</table>
</div>