<%= stylesheet_link_tag 'login', 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>

  <style>
    body {
      background-image: url('<%= asset_path('3.jpg') %>');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  </style>

 <div class=" box">
 <div class="container">
 <div class="top">
   <header>Add Food</header>
 </div>
    <%= form_with model: @food, url: user_foods_path, method: :post, data: { turbo: false } do |f| %>
        <div class="field input-field">
          <%= f.label :name, "Food name", class: "text-white" %><br />
          <%= f.text_field :name, class: "input" %>
        </div>


     <div class="field input-field">
          <%= f.label :measurement_unit , class: "text-white" %>
          <%= f.select :measurement_unit, options_for_select([['Please choose unit', 'option'],['kg', 'kg'], ['g', 'g'], ['lb', 'lb']]), {}, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        </div>

        <div class="field input-field">
          <%= f.label :price, "Unit price" , class: "text-white" %><br />
          <%= f.number_field :price, class: "input" %>
        </div>

     <div class="field input-field">
          <%= f.label :quantity , class: "text-white"  %><br />
          <%= f.number_field :quantity, class: "input" %>
        </div>

            <div class="field input-field">
          <%= f.submit "Add Food", class: " submit submite" %>
        </div>


    <% end %>
 </div>
 </div>
